{% extends 'base.html.twig' %}

{% block title %}Hello BuscadorController!{% endblock %}

{% block body %}

<div class="indices">
    <h1>Accesos Rápidos</h1>
    <a href="{{ path("app_buscador_clase") }}">
        <span><i class="icofont-shield"></i>Clases</span>
    </a>
    <a href="{{ path("app_buscador_razas") }}">
        <span>Razas</span>
    </a>
    <a href="{{ path("app_buscador_trasfondo") }}">
        <span>Trasfondos</span>
    </a>
     <a href="{{ path("app_buscador_dotes") }}">
        <span>Dotes</span>
    </a>
     <a href="{{ path("app_buscador_hechizos") }}">
        <span>Hechizos</span>
    </a>
</div>

{% endblock %}
