{% extends 'base.html.twig' %}
 {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/bodygrid.css') }}">
{% endblock %}
{% block body %}
   <h1>{{trasfondo.Nombre}}</h1>
    <p>{{trasfondo.Descripcion}}</p>
   <h3>Idiomas: {{trasfondo.Idiomas}}</h3>
    <h3>Objetos Iniciales: {{trasfondo.ObjetosIniciales}}</h3>
    <h3>Competencias: {{trasfondo.Competencias}}</h3>
    <h3>Plano: {{trasfondo.Plano}}</h3>
{% endblock %}


