{% extends 'base.html.twig' %}

{% block title %}Hello BuscadorController!{% endblock %}

{% block body %}

<div class="formulario center-h center-v">
<div class="formulario2 ">
    <h1 class="titulo">Dotes</h1>
 {{ form_start(form) }} 
    <div class="row">
        <div class="C">
            {{ form_row(form.Nombre) }}
        </div>
        <span class="E"></span>
        <div class="A">
            {{ form_row(form.Descripcion) }}
        </div>
    </div>
     <div class="row">
        <div class="C">
            {{ form_row(form.Requisitos) }}
        </div>
        <span class="E"></span>
        <div class="A">
            {{ form_row(form.Beneficios) }}
        </div>
    </div>
     <div class="row">
        <div class="C">
            {{ form_row(form.img) }}
        </div>
        <span class="E"></span>
        <div class="A">
            {{ form_row(form.Autor) }}
        </div>
    </div>
    <div class="row">
        <div class="C">
            
        </div>
        <span class="E"></span>
        <div class="A"><br>
            {{ form_row(form.Enviar) }}
        </div>
    </div>
 {{form_end(form)}}
    
    </div>
 </div>
 


{% endblock %}
