{% extends 'base.html.twig' %}

{% block title %}Hello BuscadorController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div>
    <a href="{{ path("app_revisiones_clase") }}">
        <span>Clases</span>
    </a>
    ({{clases}})
    <a href="{{ path("app_revisiones_subclase") }}">
        <span>Subclases</span>
    </a>
    ({{subclases}})
    <a href="{{ path("app_revisiones_raza") }}">
        <span>Razas</span>
    </a>
    ({{razas}})
     <a href="{{ path("app_revisiones_subraza") }}">
        <span>Subrazas</span>
    </a>
    ({{subrazas}})
    <a href="{{ path("app_revisiones_trasfondo") }}">
        <span>Trasfondos</span>
    </a>
    ({{trasfondos}})
     <a href="{{ path("app_revisiones_dote") }}">
        <span>Dotes</span>
    </a>
    ({{dotes}})
     <a href="{{ path("app_revisiones_hechizo") }}">
        <span>Hechizos</span>
    </a>
    ({{hechizos}})
</div>
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/alopa/OneDrive/Escritorio/xampp2/htdocs/Symfony/TFG/src/Controller/BuscadorController.php</code></li>
        <li>Your template at <code>C:/Users/alopa/OneDrive/Escritorio/xampp2/htdocs/Symfony/TFG/templates/buscador/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}