{% extends 'base.html.twig' %}

{% block body %}


<div class="lista_revisiones">
    <h1>Revisiones de los Hechizos</h1>
    {% for revision in revisiones %}
    <div class="elemento_revisiones">
        <img src="{{revision.img}}">
        <h2>{{ revision.Nombre }}</h2>
        <div>
            <button onclick="location.href='{{ path("app_comprobar_hechizo", {'id': revision.id}) }}'" class="btn btn-info">Ver más</button>
            <button onclick="location.href='{{ path('app_validar_hechizo', {'id': revision.id}) }}'" class="btn btn-success">Validar hechizo</button>
            <button onclick="location.href='{{ path('app_eliminar_hechizo', {'id': revision.id}) }}'" class="btn btn-danger">Eliminar hechizo</button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}