{% extends 'base.html.twig' %}
 {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/bodygrid.css') }}">
{% endblock %}
{% block body %}
   <h1>{{dote.Nombre}}</h1>
    <p>{{dote.Descripcion}}</p>
   <h3>Requisitos: {{dote.Requisitos}}</h3>
    <h3>Beneficios: {{dote.Beneficios}}</h3>
{% endblock %}


