{% extends 'base.html.twig' %}
 {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/bodygrid.css') }}">
{% endblock %}
{% block body %}
   <h1>{{subraza.Nombre}}</h1>
   <h3>Descripción: {{subraza.Descripcion}}</h3>
   <h3>Fuerza: {{subraza.Fuerza - 1}}</h3>
   <h3>Destreza: {{subraza.Destreza - 1}}</h3>
   <h3>Constitución: {{subraza.Constitucion - 1}}</h3>
   <h3>Inteligencia: {{subraza.Inteligencia}}</h3>
   <h3>Sabiduría: {{subraza.Sabiduria - 1}}</h3>
   <h3>Carisma: {{subraza.Carisma - 1}}</h3>
   <h3>Ataque Desarmado: {{subraza.AtaqueDesarmado}}</h3>
    
{% endblock %}


