{% extends 'base.html.twig' %}
 {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/bodygrid.css') }}">
{% endblock %}
{% block body %}
    <div class="grid-body">
        <div class="L1"></div>
        <div class="L2"></div>
        <div class="DC">
            <div class='grid-subclase'>
                <span class="V1"> </span>
                <h1 class="N">{{trasfondo.nombre}}</h1>
                <span class="V2"> </span>
                <div class="R">{% if trasfondo.Plano != null %}<h3>Plano: {{trasfondo.Plano}}</h3>{% endif %}<br>{{trasfondo.Descripcion}}</div>
                <div class="I" ><img src="{{trasfondo.img}}"/></div>
            </div>
        </div>
        <div class="TP">
            <h1>Competencias y objetos iniciales</h1>
            <table class="Progreso">
                {% if trasfondo.Idiomas != null %}
                <tr>
                    <td><b>Idiomas</b></td>
                    <td>{{trasfondo.Idiomas}}</td>
                </tr>
                {% endif %}
                {% if trasfondo.Competencias != null %}
                <tr>
                    <td><b>Competencias</b></td>
                    <td>{{trasfondo.Competencias}}</td>
                </tr>
                {% endif %}
                {% if trasfondo.ObjetosIniciales != null %}
                <tr>
                    <td><b>Objetos Iniciales</b></td>
                    <td>{{trasfondo.ObjetosIniciales}}</td>
                </tr>
                {% endif %}
            </table>
        </div>
        <div class="RC">
            <h1>Rasgos de trasfondo</h1>
            <div>
                {% for habilidad in rasgos %}
                    <div class="grid-rasgos">
                        <span class="N"><b>{{habilidad.nombre}}</b></span>
                        <span class="V1"></span>
                        <span class="L"><b><i>Nivel {{habilidad.OrigenNivel}}</i></b></span>
                        <span class="D">{% set parraf = ""%}
                                        {% set buffer = 0 %}
                                        {% for i in 0.. habilidad.descripcion|length %}
                                            {% if buffer > 0 %}
                                                {% set buffer = buffer - 1 %}
                                            {% elseif habilidad.descripcion|slice(i,5) == "{|S|}" %}
                                                {% set parraf = [parraf,"\n"]|join %}
                                                {% set buffer = 4 %}
                                            {% elseif habilidad.descripcion|slice(i,5) == "{|B|}" %}
                                                {{parraf|nl2br}}
                                                {% set parraf = ""%}
                                                <b>
                                                {% set buffer = 4 %}
                                            {% elseif habilidad.descripcion|slice(i,5) == "{|I|}" %}
                                                {{parraf|nl2br}}
                                                {% set parraf = ""%}
                                                <i>
                                                {% set buffer = 4 %}
                                            {% elseif habilidad.descripcion|slice(i,6) == "{|/B|}" %}
                                                {{parraf|nl2br}}
                                                {% set parraf = ""%}
                                                </b>
                                                {% set buffer = 5 %}
                                            {% elseif habilidad.descripcion|slice(i,6) == "{|/I|}" %}
                                                {{parraf|nl2br}}
                                                {% set parraf = ""%}
                                                </i>
                                                {% set buffer = 5 %}
                                            {% else %}
                                                {% set parraf = [parraf,habilidad.descripcion|slice(i,1)]|join %}
                                            {% endif %}
                                        {% endfor %}
                                        {{parraf|nl2br}}
                        </span> 
                    </div><br>
                {% endfor %}
            </div>
        </div>
        <div class="SU"></div>
    </div>





   
    
    
    
{% endblock %}


